@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8 Border Brook Lane<br />
    Worsley, Manchester<br />
    <abbr title="Phone">P:</abbr>
    07725567498
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">niraj.mehta72@gmail.com</a><br />
    <strong>Sales:</strong> <a href="mailto:Marketing@example.com">niraj.mehta72@gmail.com</a>
</address>